body {
    font-family: Arial;
    background-color: #f4f8ff;
    text-align: center;
}

#container {
    width: 700px;
    margin: auto;
}

.box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}

.fraction {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.fraction input {
    width: 50px;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 16px;
}

.fraction hr {
    width: 50px;
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator {
    font-size: 25px;
    margin: 0 15px;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 14px;
}
